$color-buttons-logos: #55C2D8;
$color-footer: #464547;
$color-main: #eeeeee;
$color-opacity: #8C4F2A4D;

$gray: $color-footer;
$blue: $color-buttons-logos;

$headline-font: 'Oswald';
$text-font: 'Source Sans Pro';

@mixin mobile {
    @media (max-width: 480px) { @content; }
}