@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Sans+Pro:wght@200&display=swap");
.header {
  position: absolute;
  width: 651px;
  height: 26px;
  left: 267px;
  top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .header {
    width: 433px;
    height: 15.24px;
    left: 850px;
    top: 45px;
  }
}

.header__text {
  position: absolute;
  width: 91px;
  height: 16px;
  left: 0px;
  top: 0px;
  margin: 0;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
}

@media (max-width: 480px) {
  .header {
    right: 150px;
    height: 13.24px;
  }
}

.header__menu {
  position: absolute;
  width: 395px;
  height: 22px;
  left: 256px;
  top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 480px) {
  .header__menu {
    width: 22px;
    height: 16.5px;
    position: unset;
  }
}

.header__menu-link {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

@media (max-width: 480px) {
  .header__menu-link {
    display: none;
  }
}

.header__menu-line {
  position: absolute;
  width: 80px;
  height: 0px;
  left: 110px;
  top: 22px;
  border: 1px solid white;
}

@media (max-width: 480px) {
  .header__menu-line {
    display: none;
  }
}

.header__menu-img {
  display: none;
}

@media (max-width: 480px) {
  .header__menu-img {
    display: inline-block;
    position: absolute;
    right: 0px;
    width: 22px;
    height: 16.5px;
  }
}

.hero {
  position: absolute;
  height: 822px;
  width: 1315px;
  top: -22px;
  left: -116px;
  background: url("Images/Desktop_Backgrounds_1920x1200_6.jpg");
  background-position: bottom right;
  background-repeat: no-repeat;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

@media (max-width: 480px) {
  .hero {
    height: 800px;
    top: 0px;
    left: -835px;
    background-clip: border-box;
  }
}

.hero__block {
  position: absolute;
  width: 426px;
  height: 292px;
  right: 387px;
  bottom: 256px;
}

@media (max-width: 480px) {
  .hero__block {
    width: 426.32px;
    height: 295.82px;
    right: 37px;
  }
}

.hero__block-logo {
  position: absolute;
  width: 63px;
  height: 63px;
  left: 182px;
  bottom: 229px;
}

.hero__block-logo-img {
  width: 63px;
  height: 63px;
  position: absolute;
  left: 0%;
  right: 0.01%;
  top: 0%;
  bottom: 0.01%;
  color: #55C2D8;
}

.hero__block-headline {
  position: absolute;
  left: 20px;
  top: 76px;
  width: 386px;
  height: 118px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: white;
  margin: 0;
}

.hero__block-p {
  position: absolute;
  top: 236px;
  width: 426px;
  height: 56px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  text-align: center;
  color: white;
  opacity: 0.7;
}

.main {
  position: absolute;
  width: 1200px;
  height: 700px;
  left: 0px;
  top: 800px;
  background: #eeeeee;
}

@media (max-width: 480px) {
  .main {
    width: 480px;
    height: 990px;
  }
}

.main__headline {
  position: absolute;
  width: 669px;
  height: 119px;
  left: 265px;
  top: 87px;
  margin: 0;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}

@media (max-width: 480px) {
  .main__headline {
    width: 355px;
    height: 261px;
    left: 63px;
    top: 65px;
  }
}

.main__subheadline {
  position: absolute;
  width: 426px;
  height: 57px;
  left: 387px;
  top: 246px;
  margin: 0;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666;
}

@media (max-width: 480px) {
  .main__subheadline {
    width: 453px;
    height: 81px;
    left: 27px;
    top: 367px;
  }
}

.main__p-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 983px;
  height: 194px;
  position: absolute;
  left: 97px;
  top: 351px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 480px) {
  .main__p-container {
    width: 445px;
    height: 336px;
    left: 27px;
    top: 476px;
  }
}

.main__p-container-item {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: 416px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.main__p-container-item-p {
  margin: 0;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: black;
}

.main__button {
  font-family: "Oswald";
  height: 36px;
  width: 115px;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  position: absolute;
  top: 566px;
  left: 542px;
  background: #55C2D8;
  border-radius: 18px;
  color: white;
}

@media (max-width: 480px) {
  .main__button {
    top: 836px;
    left: 183px;
  }
}

.learn-more {
  position: absolute;
  width: 1200px;
  height: 666px;
  left: 0px;
  top: 1500px;
  background: #8C4F2A4D;
}

@media (max-width: 480px) {
  .learn-more {
    width: 483.71px;
    height: 637px;
    top: 1790px;
  }
}

.learn-more__bg-img {
  width: 1200px;
  height: 666px;
}

@media (max-width: 480px) {
  .learn-more__bg-img {
    position: relative;
    right: 400px;
  }
}

.learn-more__headline {
  position: absolute;
  width: 480px;
  height: 117px;
  left: 360px;
  top: 84px;
  margin: 0;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: white;
}

@media (max-width: 480px) {
  .learn-more__headline {
    width: 487.77px;
    left: 10.16px;
    top: 72px;
  }
}

.learn-more__button {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 525px;
  top: 254px;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  color: #55C2D8;
}

@media (max-width: 480px) {
  .learn-more__button {
    position: absolute;
    left: 165px;
  }
}

.learn-more__p {
  position: absolute;
  width: 390px;
  height: 102px;
  left: 395px;
  top: 474px;
  margin: 0;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: white;
}

@media (max-width: 480px) {
  .learn-more__p {
    left: 45.73px;
    top: 462px;
  }
}

.footer {
  position: absolute;
  width: 1200px;
  height: 170px;
  left: 0px;
  top: 2166px;
  background: #464547;
}

@media (max-width: 480px) {
  .footer {
    width: 493px;
    height: 292px;
    top: 2427px;
  }
}

.footer__container {
  height: 86px;
  width: 900px;
  margin-left: 150px;
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 480px) {
  .footer__container {
    height: 160px;
    width: 243px;
    margin-left: 125px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__container-item {
  width: 230px;
  position: relative;
  height: auto;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.footer__container-item-project {
  display: inline;
}

.footer__container-item-project-img {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 100px;
  top: 0px;
}

@media (max-width: 480px) {
  .footer__container-item-project-img {
    right: 160px;
  }
}

.footer__container-item-project-p {
  position: absolute;
  width: 92px;
  height: 16px;
  right: 0;
  top: 2px;
  margin: 0 0 0 0;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  text-align: end;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: white;
}

@media (max-width: 480px) {
  .footer__container-item-project-p {
    right: 60px;
  }
}

.footer__container-item-address {
  width: 174px;
  height: 33px;
  margin-bottom: 10px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
  opacity: 0.4;
}

@media (max-width: 480px) {
  .footer__container-item-address {
    position: absolute;
    margin-top: 30px;
    text-align: center;
    left: 25px;
    bottom: 30px;
  }
}

.footer__container-item-mail {
  width: 142px;
  height: 22px;
  margin-top: 10px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
  opacity: 0.4;
  text-decoration: none;
}

@media (max-width: 480px) {
  .footer__container-item-mail {
    position: absolute;
    text-align: center;
    left: 40px;
    bottom: 0;
  }
}

.footer__container-item-mail {
  width: 142px;
  height: 22px;
  margin-top: 10px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
  opacity: 0.4;
  text-decoration: none;
}

.footer__container-item-copyright {
  position: absolute;
  width: 243px;
  height: 20px;
  bottom: 0px;
  margin: 0;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
  opacity: 0.4;
}

.hero__image--animation {
  position: absolute;
  left: 834px;
  top: 22px;
}

@media (max-width: 480px) {
  .hero__image--animation {
    top: 0px;
  }
}

.hero__image--animation-opacity {
  -webkit-animation: opacity 2s linear 1s infinite alternate;
          animation: opacity 2s linear 1s infinite alternate;
}

.hero__image--animation-moving {
  -webkit-animation: moving 2s linear infinite alternate;
          animation: moving 2s linear infinite alternate;
}

.learn-more__button {
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.learn-more__button:hover {
  width: 145px;
  height: 145px;
  fill: white;
}

.learn-more__button:hover .learn-more__button-ellipse {
  fill: white;
}

.learn-more__button:hover .learn-more__button-path {
  fill: #55C2D8;
}

.learn-more__button-ellipse, .learn-more__button-path {
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.hero__block-logo-img {
  -webkit-transition: all 1s cubic-bezier(0, 0.41, 0.52, 1);
  transition: all 1s cubic-bezier(0, 0.41, 0.52, 1);
}

.hero__block-logo-img:hover {
  width: 80px;
  height: 80px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.main__button {
  -webkit-transition: -webkit-transform .5s linear;
  transition: -webkit-transform .5s linear;
  transition: transform .5s linear;
  transition: transform .5s linear, -webkit-transform .5s linear;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.main__button:hover {
  -webkit-transform: rotateZ(15deg);
          transform: rotateZ(15deg);
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes moving {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-8px, -8px);
            transform: translate(-8px, -8px);
  }
}

@keyframes moving {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-8px, -8px);
            transform: translate(-8px, -8px);
  }
}
/*# sourceMappingURL=style.css.map */