// Animations
.hero__image--animation {
    position: absolute;
    left: 834px;
    top: 22px;
    @include mobile {
        top: 0px;
    }
}
.hero__image--animation-opacity {
    animation: opacity 2s linear 1s infinite alternate;
}
.hero__image--animation-moving {
    animation: moving 2s linear infinite alternate;
}

//Hovers
.learn-more__button {
    transition: all .5s ease-in;
    &:hover {
        width: 145px;
        height: 145px;
        fill: white;
    }
    &:hover &-ellipse {
            fill: white;
        }
    &:hover &-path {
        fill: $blue;
    }
    &-ellipse, &-path {
        transition: all .5s ease-in;
    }
}
.hero__block-logo-img {
    transition: all 1s cubic-bezier(0,.41,.52,1);
    &:hover {
        width: 80px;
        height: 80px;
        transform: rotateY(180deg);
    }
}
.main__button {
    transition: transform .5s linear;
    transform-origin: left;
    &:hover {
        transform: rotateZ(15deg);
    }
}

@keyframes opacity {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes moving {
    0% { transform: translate(0, 0);}
    100% { transform: translate(-8px, -8px);}
}