.footer {
    position: absolute;
    width: 1200px;
    height: 170px;
    left: 0px;
    top: 2166px;
    background: $color-footer;
    @include mobile {
        width: 493px;
        height: 292px;
        top: 2427px;
    }
    &__container {
        height: 86px;
        width: 900px;
        margin-left: 150px;
        margin-top: 39px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        @include mobile {
            height: 160px;
            width: 243px;
            margin-left: 125px;
            flex-wrap: wrap;
        }
        &-item {
            width: 230px;
            position: relative;
            height: auto;
            flex-basis: auto;
            &-project {
                display: inline;
                &-img {
                    position: absolute;
                width: 20px;
                height: 20px;
                right: 100px;
                top: 0px;
                @include mobile {
                    right: 160px;
                }
                }
                &-p {
                    position: absolute;
                    width: 92px;
                    height: 16px;
                    right: 0;
                    top: 2px;
                    margin: 0 0 0 0;
                    font-family: $text-font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 16px;
                    text-align: end;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    color: white;
                    @include mobile {
                        right: 60px;
                    }
                }
            }
            &-address {
                width: 174px;
                height: 33px;
                margin-bottom: 10px;
                font-family: $text-font;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: white;
                opacity: 0.4;
                @include mobile {
                    position: absolute;
                    margin-top: 30px;
                    text-align: center;
                    left: 25px;
                    bottom: 30px;
                }
            }
            &-mail {
                width: 142px;
                height: 22px;
                margin-top: 10px;
                font-family: $text-font;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: white;
                opacity: 0.4;
                text-decoration: none;
                @include mobile {
                    position: absolute;
                    text-align: center;
                    left: 40px;
                    bottom: 0;
                }
            }
            &-mail {
                width: 142px;
                height: 22px;
                margin-top: 10px;
                font-family: $text-font;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: white;
                opacity: 0.4;
                text-decoration: none;
            }
            &-copyright {
                position: absolute;
                width: 243px;
                height: 20px;
                bottom: 0px;
                margin: 0;
                font-family: $text-font;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: white;
                opacity: 0.4;
            }
        }
    }
}