.header {
    position: absolute;
width: 651px;
height: 26px;
left: 267px;
top: 45px;
display: flex;
@include mobile {
    width: 433px;
    height: 15.24px;
    left: 850px;
    top: 45px;
}
  &__text {
    position: absolute;
    width: 91px;
    height: 16px;
    left: 0px;
    top: 0px;
    margin: 0;
    font-family: $text-font;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
   }
   @include mobile {
    right: 150px;
    height: 13.24px;
   }
}
.header__menu {
    position: absolute;
    width: 395px;
    height: 22px;
    left: 256px;
    top: 4px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    @include mobile {
        width: 22px;
        height: 16.5px;
        position: unset;
    }
    &-link { 
        font-family: $text-font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        @include mobile {
            display: none;
        }
        }
    &-line {
        position: absolute;
    width: 80px;
    height: 0px;
    left: 110px;
    top: 22px;
    border: 1px solid white;
    @include mobile {
        display: none;
    }
    }
    &-img {
        display: none;
        @include mobile {
            display: inline-block;
            position: absolute;
            right: 0px;
            width: 22px;
            height: 16.5px;
        } 
    }
}
