.hero {
    position: absolute;
    height: 822px;
    width: 1315px;
    top: -22px;
    left: -116px; 
    background: url("Images/Desktop_Backgrounds_1920x1200_6.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    flex-shrink: 1;
    @include mobile {
        height: 800px;
        top: 0px;
        left: -835px; 
        background-clip: border-box;
    }
    &__block {
        position: absolute;
        width: 426px;
        height: 292px;
        right: 387px;
        bottom: 256px;
        @include mobile {
            width: 426.32px;
            height: 295.82px;
            right: 37px;
        }
        &-logo {
            position: absolute;
            width: 63px;
            height: 63px;
            left: 182px;
            bottom: 229px;
            &-img {
                width: 63px;
                height: 63px;
            position: absolute;
            left: 0%;
            right: 0.01%;
            top: 0%;
            bottom: 0.01%;
            color: $blue;
            }
        }
        &-headline {
            position: absolute;
            left: 20px;
        top: 76px;
        width: 386px;
        height: 118px;
        font-family: $headline-font;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        color: white;
        margin: 0;
        }
        &-p {
            position: absolute;
        top: 236px;
        width: 426px;
        height: 56px;
        font-family: $text-font;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        margin: 0;
        text-align: center;
        color: white;
        opacity: 0.7;
        }
    }
}