.learn-more {
    position: absolute;
    width: 1200px;
    height: 666px;
    left: 0px;
    top: 1500px;
    background: $color-opacity;
    @include mobile {
        width: 483.71px;
        height: 637px;
        top: 1790px;
    }
    &__bg-img {
        width: 1200px;
        height: 666px;
        @include mobile {
            position: relative;
            right: 400px;
        }
    }
    &__headline {
        position: absolute;
    width: 480px;
    height: 117px;
    left: 360px;
    top: 84px;
    margin: 0;
    font-family: $headline-font;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: white;
    @include mobile {
        width: 487.77px;
        left: 10.16px;
        top: 72px;
    }
    }
    &__button {
        position: absolute;
    width: 150px;
    height: 150px;
    left: 525px;
    top: 254px;
    transition: all .5s ease-in;
    color: $blue;
    @include mobile {
        position: absolute;
        left: 165px;
    }
    }
    &__p {
        position: absolute;
        width: 390px;
        height: 102px;
        left: 395px;
        top: 474px;
        margin: 0;
        font-family: $text-font;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: white;
        @include mobile {
            left: 45.73px;
            top: 462px;
        }
    }
}