.main {
    position: absolute;
    width: 1200px;
    height: 700px;
    left: 0px;
    top: 800px;
    background: $color-main;
    @include mobile {
        width: 480px;
        height: 990px;
    }
    &__headline {
        position: absolute;
    width: 669px;
    height: 119px;
    left: 265px;
    top: 87px;
    margin: 0;
    font-family: $headline-font;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: $gray;
    @include mobile {
        width: 355px;
        height: 261px;
        left: 63px;
        top: 65px;
       }
    }
    &__subheadline {
        position: absolute;
        width: 426px;
        height: 57px;
        left: 387px;
        top: 246px;
        margin: 0;
        font-family: $text-font;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #666666;
        @include mobile {
            width: 453px;
            height: 81px;
            left: 27px;
            top: 367px;
        }
    }
    &__p-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 983px;
        height: 194px;
        position: absolute;
    left: 97px;
    top: 351px;
    justify-content: space-between;
    @include mobile {
        width: 445px;
        height: 336px;
        left: 27px;
        top: 476px;
    }
    &-item {
        flex-shrink: 1;
        width: 416px;
        flex-basis: auto;
        &-p {
            margin: 0;
        font-family: $text-font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: left;
        color: black;
        }
    }
    }
    &__button {
        font-family: $headline-font;
        height: 36px;
        width: 115px;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.1em;
        position: absolute;
        top: 566px;
        left: 542px;
        background: $blue;
        border-radius: 18px;
        color: white;
        @include mobile {
            top: 836px;
            left: 183px;
        }
    }    
}